@import "tailwindcss";

:root{
    --primeira: #201AD9;
    --segunda: #1D2659;
    --terceira: #213ee2;
    --quarta: #ececec ;
    --quinta: #0D0D0D;
    --sexta: #2e2e2e;
    --sombra: #0000003f;

}


body{
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(232, 232, 232) );
    font-family: Arial, Helvetica, sans-serif;

}